services:
  bot:
    build: 
      target: dev
    env_file:
      - .env
    develop:
      watch:
        - path: ./src
          action: sync
          target: /app/src

        - path: ./pyproject.toml
          action: rebuild