name: Build, Test, and Push

on:
  push:
    branches:
      - main

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Run Tests
        run: |
          docker build --target tester -t bot-tester .
          docker run bot-tester

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

 
      - name: Build and push Production
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/viyi/serverboizbot:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max